.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 800px) {
        margin-left: 170%;
      
    }

    @media screen and (max-width: 400px) {
        margin-left: 90%;
    
    }
  
    .items-count {
      position: absolute;
      font-size: 13px;
      font-weight: bolder;
      right: 21px;
      bottom: 30px;
      color: gray;
      @media screen and (max-width: 800px) {
        right: 20.5px;
        bottom: 29px;
      }
      @media screen and (max-width: 400px) {
        right: 20px;
        bottom: 29px;
      }
    }
  
    .trolley-icon {
      width: 35px;
      height: 35px;
      fill: rgb(226, 62, 171);
      &:hover {
        fill: rgb(185, 12, 128);
      }
      @media screen and (max-width: 800px) {
        width: 35px;
        height: 35px;
        
      }
    }
  }