.homepage{
    display: flex;
    flex-direction: column;

    // > h2{
    //   font-size: 22px;
    //   color: rgb(243, 86, 191);
    //   margin-top: 40px;
      
    // }

    .features-wrapper{

      .about-and-features-title{        
        width: 72%;
        text-align: start;
        margin: 0 auto;
        font-size: 15px;
        color: rgb(243, 86, 191);
        font-weight: 650;

      }

        @media screen and (max-width: 800px) {                            
            margin: 15px;            
            .about-and-features-title{ width: 100vw;}
            
        }
    }

    .about-section{
      width: 100vw;
      display: flex;
      
      justify-content: center;
      text-align: start;
      // background-image: linear-gradient(
      //   rgba(253, 204, 237,.92),
      //   rgba(253, 204, 237,.92)
      // )
      // ,
      // url("../../assets/img4.jpg");

      background-size: cover;
      background-position: center;
      color: rgb(110, 106, 106);
      line-height: 1.5;

          #about{
            margin: 20px;
            padding: 10px;
            width: 70%;                      
            
                #about-content{
                  width: 100%;        
                   margin: 0 auto;
                      .about-and-features-title{
                        font-size: 15px;
                        color: rgb(243, 86, 191); 
                        font-weight: 650;
                        margin: 10px 0;
                      
                      }  

                      .expressions-through-flowers{
                        font-size: 15px;
                        color: rgb(110, 106, 106); 
                        font-weight: 650;
                        margin: 10px 0;
                      }
                                 
                }

            @media screen and (max-width: 800px) {
              width: 98%;
              font-size: 12px; 

                  #about-content{                    
                    .about-and-features-title{
                      font-size: 15px;
                    }  
                                  
                  }                           
            }
            
          }
    }
    
    
        .best-selling-products {
            width: 80vw;
            margin: 0 auto;
            // display: flex;
            // justify-content: center;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 13px;
            margin: 5px auto;
            // border: black solid 2px;
            box-shadow: 0.5px 2px 5px lightgrey;
            padding: 0 10px;
            justify-items: center;
        
            & > div {
              margin-bottom: 30px;
              box-shadow: 0px 5px 10px rgba(63, 46, 46, 0.4);
              padding-bottom: 10px;
              border-radius: 3px;
              margin-top: 30px;
        
              &:hover {
                box-shadow: 0px 5px 10px rgba(54, 190, 50, 0.4);
                padding-bottom: 6px;
              }
            }
        
            @media screen and (max-width: 800px) {
              width: 100vw;
              display: grid;
              grid-template-columns: 1fr 1fr;
              & > div {
                margin-bottom: 15px;
                margin-top: 15px;
                
              }
            }
        
            &.product-item {
              margin-bottom: 30px;

            }
          }
    

    
    .events-section {
      width: 68vw;
      margin: 0 auto;
      // border: solid blue 2px;
      text-align: start;

        h2{
          
          color: rgb(243, 86, 191);
          margin-top: 40px;
          font-size: 19.5px;
          font-family: 'Trebuchet MS', Calibri;
          margin-bottom: -10px;
        }
        h4 {
          margin-bottom: -10px;
          font-size: 17px;
          font-family: 'Trebuchet MS', Calibri;
        }

        .homepage-button {
          border-radius: 4px;
          margin-right: 30%;
          margin-top: 30px;
          letter-spacing: 3px;
          font-family: Cochin, 'Trebuchet MS', Calibri;
          background-color: #cf8a09;
          border: solid 1px#cf8a09;
          padding: 10px;
          width: 180px;
          outline:none;
          font-weight: bolder;         

      
          &:hover {
          background-color: rgba(105, 199, 42, 0.918);
          border: solid 1px rgba(105, 199, 42, 0.918);
          color: darkgreen;
          
          }

        
        }

      @media screen and (max-width: 800px) {
        width: 85vw;
      }
   }

  
}

