.wedding-products-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
        #wedding-description {
            text-align: start;  
            width: 90vw;
            color: rgb(110, 106, 106);
            line-height: 1.5;
            padding-left: 40px;
            font-size: 15px;

            @media screen and (max-width: 800px) {
                width: 90vw;
                margin: 0 auto;
                font-size: 12.5px;
                padding-left: unset;
                margin-bottom: 10px;
            } 
        }

        #wedding-title{
          text-align: center; 
          padding: 0 17px; 
        }
    
        .wedding-products {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 13px;
            margin: 5px auto;
            margin-bottom: 10px;
            
        
                & .wedding-page-image {
                        width: 18vw;
                        height: 45vh;
                        background-size: cover;
                        object-fit: cover;
                        background-position: center;
                        margin-bottom: 2px;        
                        border-radius: 2.5px;
                    
                    }

            @media screen and (max-width: 800px) {
                    grid-template-columns:  1fr 1fr;
                    grid-template-columns: repeat(2, 1fr);
                    & .wedding-page-image {
                        width: 43vw;
                        height: 27vh;
                        background-size: cover;
                        object-fit: cover;
                        background-position: center;
                        margin-bottom: 2px;        
                        border-radius: 2.5px;
                    }
            }
            
        }
  
    @media screen and (max-width: 800px) {
      width: 100vw;
    }
  }

  