.products-page {
    display: flex;
    flex-direction: column;
    width: 95vw;
    
        #luncheon-description {
            text-align: start;  
            width: 90vw;
            color: rgb(110, 106, 106);
            line-height: 1.4;
            padding-left: 10px;
            font-size: 16px;
            margin-bottom: 10px;

            @media screen and (max-width: 800px) {
                width: 90vw;
                margin: 0 auto;
                font-size: 13px;
                padding-left: unset;
                margin-bottom: 10px;
            } 
        }

        #luncheon-title{
          text-align: center; 
          padding: 0 17px; 
        }
    
        .products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 17px;
            margin: 5px auto;
            margin-bottom: 10px;
        
                & .luncheon-page-image {
                        width: 30vw;
                        height: 75vh;
                        background-size: cover;
                        object-fit: cover;
                        background-position: center;
                        margin-bottom: 2px;        
                        border-radius: 2.5px;
                    
                    }

                @media screen and (max-width: 800px) {
                    grid-template-columns:  1fr;
                        & .luncheon-page-image {
                            width: 90vw;
                            height: 47vh;
                            background-size: cover;
                            object-fit: cover;
                            background-position: center;
                            margin-bottom: 2px;        
                            border-radius: 2.5px;
                        }
                }
            
        }
  
    @media screen and (max-width: 800px) {
      width: 100vw;
    }
  }

  