.google {
    // background-color: rgba(250, 242, 242, 0.849);    
    color: rgb(104, 97, 97);
    border-bottom: unset;
    width: 200px;  
    height: 23px;                        
    font-weight: 500;
    border-radius: unset;
    font-size: 15px;                          
    display: flex;
    transition: unset;
    padding-left: 3px;   
    margin-right: 5px;
    filter: brightness(105%);                       
    // border: green solid 2.2px;
    
    
        
            .google-icon-and-text-container{
              display: flex;  
              background-color: rgba(250, 242, 242, 0.849);
              // border: rgb(42, 3, 94) solid 3px;
              box-shadow: 1px 3px 5px 2px rgba(63, 46, 46, 0.2);
              border-radius: 2px;
    

                    #google-icon-wrapper{
                      height: 100%; 
                      padding: 0 1px;       
                      // border: orangered solid 1.2px;
                      width: 16%;

                          .icon { 
                            height: 100%;
                            width: 100%;                                          
                            background-color:transparent;                                                 
                            
                            
                            @media screen and (max-width: 800px) {                      
                              height: 100%;
                              width: 100%;
                            }
                            
                          }

                      @media screen and (max-width: 800px) {
                        //#google-icon-wrapper
                        }
                      
                    }

                    #google-text{
                        width: 90%;
                        padding-bottom: 5px;  
                        display: flex;
                        font-size: 14px;  
                        height: 100%; 
                        padding-top: 3px;         
                        // border: orange solid 2.2px;          
                        width: 84%;
                        background-color: rgb(35, 89, 240);
                        color: white;   
                        align-items: center;                     
                        justify-content: center;

                        @media screen and (max-width: 800px) {                       
                            font-size: 9px;                             
                            align-items: flex-end;
                            padding-top: 0px;                            
                            }
                        
                        }
                
              
              
                      @media screen and (max-width: 800px) { 
                        //button-text               
                        width: 90%;
                        padding-bottom: 5px;             
                        }

              

                @media screen and (max-width: 800px) {
                    padding-top: 0;
                    padding-bottom: 0;
                    
                }
            }

    

    

    @media screen and (max-width: 800px) {
      //.google          
      width: 130px;      
      margin-right: unset;   
      
    }
    

}