.footer-container {
    position: relative;
    bottom: auto;
    width: 100vw;
    color: rgb(247, 151, 204);
    filter: brightness(105%);
    padding: 30px 20px;    
    text-align: center;
    // background-image: linear-gradient(to right bottom, #000000, #0a0a0a6c)
    transition: all 10s;
    transition: transform .8s;
    background-image: linear-gradient(
        rgba(21, 28, 58, 0.88),
        rgba(21, 28, 58, 0.88)
      )
      ,
      url("../../assets/img4.jpg");
  
    background-size: cover;
    background-position: center;
     
    .footer{      
      
        .title {
          font-weight: 700;      
        }
        
    }
    
  }