.nav-dropdown {
    position: absolute;
    width: 10vw;  
    height: 20vh;  
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top:  0.5px solid rgb(189, 189, 179);
    border-right: 0.5px solid rgb(189, 189, 179);
    background-color: rgb(247, 247, 241);
    box-shadow: -1px 3px 5px rgba(63, 46, 46, 0.2);
    border-radius: 2px;
    top: 105%;
    left: -50%;
    z-index: 15;
  
    .cart-items {
      // height: 240px;
      display: flex;
      flex-direction: column;
      
    }
  
    
  
    
  
    @media screen and (max-width: 800px) {
      width: 240px;
      margin-right: -5px;
    }
  }
  