.spinner-overlay {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
  
    & > div {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 3px solid rgba(73, 173, 33, 0.2);
      border-radius: 50%;
      border-top-color: #0d9213;     
      animation: spin 1s  infinite linear;
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
       100% { transform: rotate(360deg); }
      }
      
      
    }
  }
  