.memorials-page {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;

    #memorials-description {
        text-align: start;  
        width: 90vw;
        color: rgb(110, 106, 106);
        line-height: 1.4;
        padding-left: 10px;
        font-size: 16px;
        margin-bottom: 15px;
  
        @media screen and (max-width: 800px) {
            width: 90vw;
            margin: 0 auto;
            font-size: 13px;
            padding-left: unset;
            text-align: start; 
            margin-bottom: 10px;
        } 
    }
  
    
    .memorials-products {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 13px;
      margin: 5px auto;
  
      & > div {
        margin-bottom: 30px;
        box-shadow: 0px 5px 10px rgba(63, 46, 46, 0.4);
        padding-bottom: 10px;
        border-radius: 3px;
        margin-top: 30px;
  
        &:hover {
          box-shadow: 0px 5px 10px rgba(54, 190, 50, 0.4);
          padding-bottom: 6px;
        }
      }
  
      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        & > div {
          margin-bottom: 15px;
        }
      }
  
      &.memorials-product-item {
        margin-bottom: 30px;
      }
    }
  
    @media screen and (max-width: 800px) {
      width: 100vw;
    }
  }
  