.option {
    border: transparent solid 1px ;
    background-color: transparent;
    padding: 0 6px;
    font-size: 16px; 
        
    // border-bottom: black solid 1.2px;
    border-radius: 6px;        
    font-weight: 500;
    margin: 0 5px;
    padding: 6px;
    
    cursor: pointer;
    transition: all 0.5s;

        &:hover {
            color: rgb(245, 118, 177);
            animation: pulsate 1s;
        
            border-color: rgb(245, 118, 177);
        }

        &:focus {
            outline: none;
            // animation: pulsate 1s;
            border-color: rgb(245, 118, 177);
            color: rgb(245, 118, 177)
            // box-shadow: 0 5px 10px rgba(134, 106, 106, 0.25);
        
        }

        

        
        

    @media screen and (max-width: 800px) {                            
        margin: 0 2px;
        font-size: 11px;
        padding: 5px;               
        opacity: 0;
    }

    @keyframes pulsate {
        0% {
        transform: scale(1);
        box-shadow: none;
        }

        50% {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        }

        100% {
        transform: scale(1);
        box-shadow: none;
        }
    }
}

.icon-present{
    border: none ;
    &:hover{
        color: unset;
        animation: unset;

        border-color: unset;

    }
    &:focus {
        outline: unset;
        
        border-color:unset;
        color: unset
        
    
    }

    .option-icon{
        margin-left: 5px;
    }
}


