.product-item {
    width: 21.5vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
    background-color: rgb(243, 241, 219);
    border-radius: 4.5px;
    border-bottom: rgb(153, 153, 175) 1px solid;
      
  
    &:hover {
      .image {
        opacity: 0.8;
      }
  
        .custom-button {
          opacity: 0.85;
          display: flex;
        }
      }
      
    @media screen and (max-width: 800px) {
      &:hover {
        .image {
          opacity: unset;
        }
      }
  
        height: 295px;
        width: 40vw;
      }
  
      @media screen and (max-width: 400px) {
        height: 250px;
      }
  
      #product-item-checkmark{
        height: 40px;
        width: 40px;
        padding-top: 10px;
      
        @media screen and (max-width: 400px) {
          padding-top: unset;
          height: unset;
          width: unset;
        }
      }

      #btn-text{
        
        @media screen and (max-width: 400px) {
          font-size: 9px;
        }
      
      }
  
      .image {
        width: 100%;
        height: 80%;
        background-size: cover;
        object-fit: cover;
        background-position: center;
        margin-bottom: 2px;
        border-bottom: whitesmoke 3px solid;
        border-radius: 2.5px;
    
        // @media screen and (max-width: 800px) {
        // width: 100%;
        // height: 60%;
        // }
      }
  
      .product-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        font-size: 15px;
        padding-left: 5px;
        // border-top: whitesmoke 1px solid;
    
            .price {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              font-weight: 500;

              @media screen and (max-width: 800px) {
                font-size: 10.5px;
              }
            }
    
            .name {
              width: 100%;
              text-align: start;
              margin-bottom: 1px;
        
              @media screen and (max-width: 400px) {
                font-size: 10.5px;
              }
            }
    
        
      }
    @media screen and (max-width: 800px) {
      width: 44vw;
      height: 200px;
    }
    
  }
  
  