.checkout-page {
    width: 75%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

        button {
        margin-left: auto;
        margin-top: 30px;
        }
  
    @media screen and (max-width: 800px) {
      width: 95vw;
      font-size: 12px;
      min-height: 40vh;
  
      button {
        margin: auto;
        margin-top: 30px;
      }
    }
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      text-align: start;
      border-bottom: 1px solid darkgrey;
      font-size: 20px;
      font-weight: bold;
  
      @media screen and (max-width: 800px) {
        width: 90%;
        margin-top: -40px;
        margin-left: -35px;
      }
    }
  
    .head {
      text-transform: capitalize;
      width: 23%;
      text-align: start;
      &:last-child {
        width: 8%;
      }
  
      @media screen and (max-width: 800px) {
        font-size: 10px;
        width: 23%;
        &:last-child {
          width: 8%;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin: auto;
      font-size: 26px;
      @media screen and (max-width: 800px) {
        margin-top: 30px;
        font-size: 20px;
        
      }
    }

    #checkout-page-btn{
        margin: 20px auto;
        background-color: rgb(6, 133, 2);
        display: flex;
        bottom: 10px;
        font-size: 12px;
        padding: 0 10px ;
        height: 45px;
        align-items: center;
        color: white;
        border: 1px solid rgb(6, 133, 2);
        border-radius: 3px;
        cursor: pointer;
        outline: none;
    }
  
    
  }