.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: rgb(133, 65, 2);
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: rgb(133, 65, 2);
    border: 1px solid rgb(133, 65, 2);
  }

  &.inverted {
    background-color: white;
    color: rgb(112, 57, 6);
    border: 1px solid rgb(112, 57, 6);
    opacity: 0.85;
    display: flex;
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 180px;
    display: none;
    font-family: Calibri;
    font-size: 16px;

    &:hover {
      opacity: unset;
    }

    @media screen and (max-width: 800px) {
      display: flex;
      min-width: unset;
      top: unset;
      bottom: 63px;
      font-size: 12px;
      opacity: 0.7;
      padding: 0 10px;
      height: 35px;
      align-items: center;
    }

    &:hover {
      background-color: rgb(133, 65, 2);
      color: white;
      border: none;
    }
  }
}

// ==============================================================================

// .custom-button {
//   min-width: 165px;
//   width: auto;
//   height: 50px;
//   letter-spacing: 0.5px;
//   line-height: 50px;
//   padding: 0 5px ;
//   font-size: 15px;
//   background-color: rgb(6, 133, 2);
//   color: white;
//   text-transform: uppercase;
//   font-family: "Open Sans Condensed";
//   font-weight: bolder;
//   border: none;
//   border-radius: 2px;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;

//       &:hover {
//         background-color: rgb(6, 133, 2);
//         color: white;
//         border: 1px solid rgb(6, 133, 2);
//       }

//       &.inverted {
//         background-color: rgb(6, 133, 2);
//         color: white;
//         border: 1px solid rgb(6, 133, 2);
//         opacity: 0.85;
//         display: flex;
//         width: 96%;
//         opacity: 0.7;
//         position: absolute;
//         bottom: 10px;
//         left: 5px;// Remove if not using whatsapp icon. 
//         display: none;
//         font-family: Calibri;
//         font-size: 16px;

//             &:hover {
//               opacity: unset;
//             }

//         @media screen and (max-width: 800px) {
//           display: flex;
//           min-width: unset;
//           top: unset;
//           bottom: 10px;
//           font-size: 12px;
//           opacity: 0.7;
//           padding: 0 5px ;
//           height: 45px;
//           align-items: center;
//         }
//         @media screen and (max-width: 450px) {
//           height: 35px;
//         }
        
//       }

//   &:hover {
//     background-color: rgb(6, 133, 2);
//     color: white;
//     border: none;
//   }
// }
