
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 100px; 
    background-color: whitesmoke;
    font-weight: bolder; 
    overflow: hidden; 
    box-shadow: 0px 2px 3px rgba(63, 46, 46, 0.4);  
    
    
  
        .logo-container {
          height: 90px;
          width: 30%;
          padding-top: 10px;
        //   border: black solid 1px;
          display: flex;
          justify-content: center;
  
              .logo {
                width: 50%;
                height: 90px;
                align-self: center;
                border-radius: 50%;
                // border:rgb(83, 1, 1);
                // font-size: 37px;
                        
  
                @media screen and (max-width: 800px) {
                  height: 80px;
                  width: 96%;
                  margin-top: 20px;
                }
              }
           @media screen and (max-width: 800px) {
            height: 80px;
            width: 60%;
           }  
          
        }
        
        .sub-header-container{
            display: flex;
            flex-direction: column;
            // border: solid springgreen 2px;
            margin-right: 15px;
            width: 100%;

                .lower-division{
                    display: flex;        
                    // background-color: yellowgreen;
                    justify-content: flex-end;   
                    justify-self: flex-end;  
                    // border: salmon solid 2px;    
                     

                    @media screen and (max-width: 800px) {
                        margin-top: 5px;    
                        
                    }                   
                                    
                }

                .upper-division{
                    // background-color: violet;                    
                    display: flex;                    
                    justify-content: flex-end;  
                    align-items: center;         
                        
        
                        .options {      
                            flex-direction: row;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;                                   
                            // border: black solid 1.2px; 
                            justify-self: center;
                            margin-right: 10px;
                            margin-top: 30px; //To be discarded when lower division has an item

                            #cart-icon-small-screen{
                                opacity: 0;
                            }
                            
                            #cart-icon-large-screen{
                                opacity: 1;
                            }               
                            
                            @media screen and (max-width: 800px) {
                                margin-right: 7px;
                                padding: 5px;                       
                                font-size: 3px;   
                                padding-left: 15px;                                                   
                                margin-top: 30px;  //To be changed to 10 when lower division has an item
                                
                                #cart-icon-small-screen{
                                    opacity: 1;
                                }
                                #cart-icon-large-screen{
                                    opacity: 0;
                                } 
                            }
                        }
        
                        
        
                    @media screen and (max-width: 800px) {
                    //.subheader
                     justify-content: unset; 
                    
                    }
                
                }

            @media screen and (max-width: 800px) {
                //.subheader-container                    
                width: 20%;// make it forty after adding carticon
                
            }

        }
        
  
    //  box-shadow: 0px 2px 3px rgba(63, 46, 46, 0.4);     
       
    
  }
  