.modal-wrapper{
    display: flex;
    background-color: rgba(0, 0, 0, 0.663);
    left: 0; 
    top:0 ;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10; 
    

    .modal-title{
        top: 3%;
        left: 15%;
        background-color:white;
        width: 50vw;
        // height: 60vh;
        position: absolute;
        color: rgb(90, 79, 79);
        margin: auto;        
        padding: 20px 15px;
        border-radius: 4px;
        font-family: 'Verdana';
        font-size: 14px;
        animation: navBarInFromLeft 0.7s ease-out;
        

            >ul{
                list-style: none;
                padding: 5px;
                >li{
                    margin: 5px;
                    // border-bottom: rgb(119, 114, 114) solid 0.6px;
                    box-shadow: 0px 1px 1px rgb(194, 189, 189);
                    padding: 8px ;
                    border-radius: 3px;
                }
            }
            
            .x-mark {
                position: absolute;
                top: 5%;
                right: 6%;            
            }

        @media screen and (max-height: 400px) { // Landscape orientation for small screens
            //.modal-title                               
            width: 70vw;
            // height: 80vh;
        }

        @media screen and (max-width: 500px) { 
            //.modal-title                               
            width: 70vw;
            // height: 50vh;
        }
        
    }

    @keyframes navBarInFromLeft{
        0%{
            opacity: 0;
            transform: translateX(-100px);
        }


        100%{
            opacity: 1;
            transform: translateX(0);
        }

    }

}